<%- include('../layout/header.ejs') %>
    <style>
        .gradient-custom {
            /* fallback for old browsers */
            background: #84fab0;

            /* Chrome 10-25, Safari 5.1-6 */
            background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));

            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
        }
    </style>




    <section class="vh-100 gradient-custom"
        style="background-image: url('https://i.pinimg.com/originals/d5/03/2a/d5032a8070330382f18a13055c7ba278.gif'); background-repeat: no-repeat;background-size: cover;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-transparent text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            <div class="mb-md-5 mt-md-4 pb-5">

                                <h2 class="fw-bold mb-2 text-uppercase">Admin Log in</h2>
                                <p class="text-white-50 mb-5">Please enter your login and password!</p>

                                <form action="" method="post">
                                    <div class="form-outline form-white mb-5">
                                        <input type="email" id="typeEmailX" class="form-control form-control-lg fs-5"
                                            name="email" placeholder="Enter your Email" required />
                                    </div>

                                    <div class="form-outline form-white ">
                                        <input type="password" id="typePasswordX"
                                            class="form-control form-control-lg fs-5" name="password"
                                            placeholder="Enter password" required />

                                    </div>

                                    <p class="small mb-3 pb-lg-2 my-3"><a class="text-white-50" href="#!">Forgot
                                            password?</a></p>

                                    <button class="btn btn-outline-light btn-lg px-5" type="submit">Log in</button>
                                    <%if(typeof message !=='undefined' ){ %>
                                        <div class="pt-4">
                                            <p class="fw-bolder text-danger text-center">
                                                <%= message%>
                                            </p>
                                        </div>
                                        <% } %>
                                </form>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>



    <%- include('../layout/footer.ejs') %>